dotfiles/tmux/.tmux/plugins/*
dotfiles/tmux/.tmux/resurrect/*
**/.vim/bundle/*
**/.vim/pack/*
**/swaps/*
**/tmp/*
**/backups/*
**/gutentags/*
**/.netrwhist
**/plugged/*
**/pack/*
packer_compiled.lua
ignore
*.rkt~
*.lisp~
*.lisp#
*.el#
*.el~
*.un~
**/package-lock.json
**/package.json
lazy-lock.json
